.step1
{
  .interaction-icon
  {
    float: left;
    width: 50px;
    margin-left: -60px;
  }

  .animate-all
  {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .side-margin-20px
  {
    margin-left: -20px;
    margin-right: -20px;
  }

  .clickable
  {
    cursor: pointer;
  }

  .hover-blue:hover
  {
    background-color: #00bcd4;
  }

  .price
  {
    font-size: 12px;
  }

}

.overflow-hidden
{
  overflow: hidden;
}

//validator styles
label.error {
  color:#f23;
  //margin-left: 100px;
  text-align: center;
}
.data-mailing_list
{
  label.error {
    width:100%;
  }
}
.btn
{
  //error label on buttons
  label.error{
    width: 100%;
    transform: translateY(-104%);
    font-size: 0.8rem;
    text-transform: none;
  }
}

.centered-loader
{

  margin: 10px auto 0;
  display: block;
}

.male-btn, .female-btn
{
  height: 80px;
  padding: 10px;
}

.genre-container
{
  width: 164px;
  margin: 0 auto;
}

@media only screen and(max-width: 1300px){
  .main-container{
    min-width: 90%;
  }
}

.main-container
{
  max-width: 1200px;
  margin: 0 auto;
}