.login_body
{
  background-image: url('../../images/bg-login.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.white_link
{
  color : white;
}

.img_login_right
{
  position: absolute;
  bottom: 0;
}

#login_card
{
  padding-left:25px;
}